Arabic-Stopwords==0.3
arramooz-pysqlite==0.3
asgiref==3.4.1
click==8.0.1
fastapi==0.68.0
h11==0.12.0
PyArabic==0.6.14
pydantic==1.8.2
six==1.16.0
starlette==0.14.2
Tashaphyne==0.3.4.1
typing-extensions==3.10.0.0
uvicorn==0.14.0
Whoosh==2.7.4
